@{
    ViewData["Title"] = "Home Page";
}
@model Mog
<div class="text-center">
    <h1 class="display-4">Let's name you Moogle!</h1>
    <form asp-action="Submit" method="post">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" class="form-control form-group" />
        <input type="submit" value="ENTER" class="btn btn-danger" />
    </form>
</div>
